/*
/*/

!/.idea/
.idea/workspace.xml
.idea/csv-plugin.xml
.idea/shelf/
!/.github/

!/app/
!/cmake/
!/example/
!/include/
!/note/
!/res/
!/sandbox/
!/src/
!/test/

!/.editorconfig
!/.gitignore
!/CMakeLists.txt
!/CMakePresets.json
!/LICENSE
!/Notes.txt
!/README.md
